@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}


.disease-chart-labels li::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border-radius: 50%;
}

.disease-chart-labels li:nth-child(1)::before {
    background-color: #FF6384;
}

.disease-chart-labels li:nth-child(2)::before {
    background-color: #36A2EB;
}

.disease-chart-labels li:nth-child(3)::before {
    background-color: #FFCE56;
}

.disease-chart-labels li:nth-child(4)::before {
    background-color: #FF8C00;
}

.disease-chart-labels li:nth-child(5)::before {
    background-color: #9ACD32;
}

/* Pop-up modal styling */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    /* Semi-transparent background */
    z-index: 1000;
    display: none;
    /* Hidden by default */
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .sidebar-visible {
        width: 100% !important;
        position: absolute;
        z-index: 1000;
        height: 100vh;
        background-color: rgb(23, 37, 78);
    }

    .sidebar-hidden {
        width: 0;
        overflow: hidden;
        padding: 0 !important;
    }

    .main-content-expanded {
        width: 100%;
    }

    .main-content-collapsed {
        width: 100% !important;
    }
}

.main-content-collapsed {
    width: 100% !important;
}

.main-content-expanded {
    width: 100%;
}


.sidebar-hidden {
    width: 0;
}

.sidebar-visible {
    width: 20%;
}


.transition-all {
    transition: all 0.3s ease-in-out;
}

.hide-text {
    display: none;
}

.tab:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    /* Hover background color */
    color: white !important;
    /* Hover text color */
}

.tab.active {
    display: none;
}

.sidebar-visible .tab.active {
    display: block;
    position: relative;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    /* Active background color */
    color: white !important;
    /* Active text color */
}

.tab.active::before {
    content: '';
    position: absolute;
    left: -17px;
    top: 0;
    bottom: 0;
    width: 10px;
    /* Adjust the width of the border as needed */
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* Change to your desired border color */
}

.sidebar:hover .hide-text {
    display: inline !important;
}

.sidebar-hidden:hover .hide-text {
    display: none !important;
}

.tab-content {
    padding: 1.5rem;
}